/* Reset default margin and padding for the entire page */
body {
    margin: 0;
    padding: 0;
}

/* Center-align the title from AuthCard */
.MuiCardHeader-title {
    text-align: center;
}

/* Add a 2px solid border around AuthCard */
.MuiCard-root {
    border: 2px solid #ccc;
}
