/* CSS class for bold text typography */
.MuiTypography-root.infoLabel {
    font-weight: bold;
}

/* CSS class for gray color text typography */
.MuiTypography-root.userInfo {
    color: gray;
}

/* CSS class for card styling */
.MuiCard-root {
    min-height: 370px;
}